# terraform/ansible/shared-roles/harbor/templates/docker-compose.yml.j2

version: '3.8'

services:
  registry:
    image: registry:2.8.3
    container_name: central-registry
    restart: always
    ports:
      - "80:5000"
    volumes:
      - registry_data:/var/lib/registry
    environment:
      - REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/var/lib/registry
      - REGISTRY_HTTP_ADDR=0.0.0.0:5000
      - REGISTRY_LOG_LEVEL=info
      - REGISTRY_PROXY_REMOTEURL=https://registry-1.docker.io
      - REGISTRY_PROXY_USERNAME=
      - REGISTRY_PROXY_PASSWORD=
    networks:
      - registry

  registry-ui:
    image: joxit/docker-registry-ui:latest
    container_name: registry-ui
    restart: always
    ports:
      - "8080:80"
    environment:
      - SINGLE_REGISTRY=true
      - REGISTRY_TITLE=Central Container Registry (Pull-Through Cache)
      - DELETE_IMAGES=true
      - SHOW_CONTENT_DIGEST=true
      - NGINX_PROXY_PASS_URL=http://registry:5000
      - SHOW_CATALOG_NB_TAGS=true
      - CATALOG_MIN_BRANCHES=1
      - CATALOG_MAX_BRANCHES=1
    depends_on:
      - registry
    networks:
      - registry

  trivy-server:
    image: aquasec/trivy:latest
    container_name: trivy-scanner
    restart: always
    ports:
      - "4954:4954"
    command: server --listen 0.0.0.0:4954
    volumes:
      - trivy_cache:/root/.cache
    networks:
      - registry

volumes:
  registry_data:
  trivy_cache:

networks:
  registry:
    driver: bridge
