{
  "oauth": {
    "enabled": true,
    "issuerUrl": "{{ media_stack_lab_immich_issuer_url }}",
    "clientId": "{{ media_stack_lab_immich_oauth_client_id }}",
    "clientSecret": "{{ media_stack_lab_immich_oauth_client_secret }}",
    "scope": "openid email profile",
    "mobileOverrideEnabled": true,
    "mobileRedirectUri": "app.immich:///oauth-callback",
    "autoRegister": true,
    "buttonText": "Login with Authentik"
  }
}
