server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://{{ promtail_loki_url }}/insert/loki/api/v1/push

scrape_configs:
{% if promtail_scrape_varlogs | default(true) %}
  - job_name: varlogs
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          host: "{{ inventory_hostname }}"
          stack: "{{ promtail_stack_name }}"
          __path__: /var/log/**/*.log
{% endif %}
{% if promtail_scrape_journal | default(false) %}
  - job_name: journal
    journal:
      max_age: 12h
      labels:
        job: journal
        host: "{{ inventory_hostname }}"
        stack: "{{ promtail_stack_name }}"
    relabel_configs:
      - source_labels: [__journal__systemd_unit]
        target_label: unit
{% endif %}
