{
  "registry-mirrors": ["http://{{ docker_registry_mirror }}:5000"],
  "insecure-registries": ["{{ docker_registry_mirror }}:5000"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3"
  },
  "storage-driver": "overlay2"
}
