[defaults]
roles_path = ../terraform/lxc/ansible/roles
inventory = inventory/
host_key_checking = False
timeout = 30
gather_facts = True
fact_caching = memory
fact_caching_timeout = 86400

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
retries = 3
